html, body {
    font: normal normal 16px Arial;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}

.myTitle {
  width: 100%;
  height: 15%;
  max-height: 100px;
  line-height: 15%;
  float: left;
  display: flex;
  align-items: center;
  padding: 0 0 0 2rem;
  font-size: 1.5rem;
}

.nodisplay {
    display: none !important;
}

#about {
    position: relative;
    width: 100%;
    height: 100%;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.divArrowUp {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  right: 0;
  left: 0;
}
.divArrowRight {
  position: absolute;
  height: 100%;
  width: 50px;
  top: 0;
  right: 0;
  bottom: 0;
}
.divArrowDown {
  position: absolute;
  width: 100%;
  height: 50px;
  right: 0;
  bottom: 0;
  left: 0;
}
.divArrowLeft {
  position: absolute;
  height: 100%;
  width: 50px;
  top: 0;
  left: 0;
  bottom: 0;
}

.divArrowRight img, .divArrowLeft img {
   width:100%;
   height: 50px;
   cursor: pointer;
   opacity: 0.5;
}
.divArrowUp img, .divArrowDown img {
   height:100%;
   width: 50px;
   cursor: pointer;
   opacity: 0.5;
}

/* ########## */
#left{
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
#slogan{
  font-size: 4em;
  padding: 2em 1em 5em 2em;
}
#cv{
  color: rgb(125, 255, 0);
}
#right{
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#right div{
  width: 100%;
  padding: 0 2.5em 5em 0;
}
#image{
  width: 100%;
  display: flex;
  justify-content: center;
}
#controls{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em 1em 2em 2em;
}
/* ########## */

/*
* pages
*/

/*
#divCenter {
    background-color: #003366;
    color: #FFFFFF;
    display:inline-block;
}

#divRight {
    background-color: #F6BC0C;
    color: #000000;
    float:left;
}
#divLeft {
    background-color: #c00cf6;
    color: #FFFFFF;
    float:left;
}
#divTop {
    background-color: #0cdaf6;
    color: #000000;
    float:left;
}
#divBottom {
    background-color: #0cf62b;
    color: #000000;
    float:left;
}
*/

.divMap{
  width: 9%;
  max-width: 371px;
  height: 6%;
  max-height: 195px;
  position: absolute;
  top: 0;
  right: 0;
}
.divMap img{
   padding: 0.5rem 0.5rem 0 0;
   width: 100%;
   height: 100%;
}
